{{define "Content"}}
<div id="c-title">{{if ne .Device.Tag ""}}{{.Device.Tag}}, {{end}}{{.Device.Devflag}}</div>
<div class="card mb-2 shadow-sm">
    <h4 class="card-header">
        {{if ne .Device.Tag ""}}{{.Device.Tag}}, {{end}}{{.Device.Devflag}}
    </h4>
    {{template "DeviceTop" Dict "URL" .URL "Device" .Device "DeviceRealTime" .DeviceRealTime}}
</div>
<div class="card mb-2 shadow-sm">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item">
				<a class="nav-link active" href={{(printf "/device/graph/%s"
					.Device.Devflag)}}>Graph</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{(printf "/device/history/%s"
					.Device.Devflag)}}>History</a>
			</li>
		</ul>
	</div>
	<div class="card-body">
		<div class="btn-toolbar" role="toolbar">

			<form action='{{.URL.GenURLBase (print "/device/graph/" .Device.Device.Devflag)}}' method="get">

				<div class="btn-group mr-2" role="group">

					<input type="submit" name="rangeBy" value="Day" class="btn btn-secondary" />
					<input type="submit" name="rangeBy" value="Week" class="btn btn-secondary" />
					<input type="submit" name="rangeBy" value="Month" class="btn btn-secondary" />

					<div class="input-group date mr-2" id="datetimepicker2" data-target-input="nearest">
						<div class="input-group date mr-2" id="datetimepicker1" data-target-input="nearest">
							<input type="date" class="form-control datetimepicker-input" name="di" value="{{.Qdi}}" />
						</div>

						<div class="input-group date mr-2" id="datetimepicker2" data-target-input="nearest">
							<input type="date" class="form-control datetimepicker-input" name="de" value="{{.Qde}}" />
						</div>

						<button class="btn btn-secondary">Apply</button>
					</div>

			</form>

		</div>
		<canvas id="chartDevices" width="100%"></canvas>
	</div>
</div>
<script>
	const data = {
		labels: {{.Labels }},
	datasets: {{.Dataset }}
	};

	const config = {
		type: 'line',
		data: data,
		options: {
			elements: {
                point:{
                        radius: 0
                }
            },
			responsive: true,
			plugins: {
				legend: {
					position: 'top'
				},
			},
			radius: 0,
		}
	};

	var ctx = document.getElementById("chartDevices");
	var myChart = Chart.Line(ctx, config);
</script>

{{end}}